.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.wrapper .welkom{
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #38AD34;
    font-size: 20px;
}

.img-info {
    flex: 1;
    padding: 20px;
    background-color: rgb(235, 220, 212);
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: calc(50% - 20px);
}

.img-info h1 {
    font-size: 28px;
    color: rgb(233,43,43);
    margin-bottom: 10px;
}

.img-info p {
    font-size: 16px;
    color: #4b4c4d;
    line-height: 1.5;
}

.groepsfoto {
    flex: 1;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 20px;
}


.extraInfo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    background-color: rgb(235, 220, 212);
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: calc(50% - 20px);
    margin-left: 25%;
}

.extraInfo p {
    margin-top: 10px;
    color: #38AD34;
    font-size: 20px;
}


.extraInfo h1 {
    font-size: 28px;
    color: rgb(233, 43, 43);
    margin-bottom: 10px;
}

.extraInfo p {
    font-size: 16px;
    color: #4b4c4d;
    line-height: 1.5;
}

.extraFoto {
    flex: 1;
    max-width: 500px;
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 20px;
}
/*
@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .img-info {
        max-width: 100%;
    }

    .img-info, .groepsfoto {
        width: 100%;
    }
    
    .wrapper{
        margin-top: -50px;
        margin-right: 20px;
    }
    .wrapper p {
        text-align: justify;
    }

    .extraInfo {
        flex-direction: column;
        align-items: center;
    }
}
*/
@media (max-width: 700px) {
    .wrapper,
    .extraInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
    }

    .wrapper .welkom,
    .extraInfo p {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #38AD34;
        font-size: 20px;
    }

    .img-info,
    .groepsfoto,
    .extraFoto {
        flex: 1;
        max-width: 100%;
        border-radius: 10px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .img-info h1,
    .extraInfo h1 {
        font-size: 28px;
        color: rgb(233, 43, 43);
        margin-bottom: 10px;
    }

    .img-info p,
    .extraInfo p {
        font-size: 16px;
        color: #4b4c4d;
        line-height: 1.5;
    }

    .wrapper p,
    .extraInfo p {
        text-align: justify;
    }

    .wrapper {
        margin-top: -50px;
        margin-right: 20px;
    }
}

