.header-basic {
    padding:0px;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  .header-basic h1{
    text-align:  center;
    font-size: 50px;
    color: #38AD34;
    text-shadow: #81b47f 3px 3px 3px;
    margin-top:0px ;
    padding-bottom: 5px;
  }

  .header-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:26px;
    line-height:1.6;
    margin-bottom:0;
    vertical-align: middle;
  }
  
  .header-basic li {
    padding:0 10px;
    vertical-align: middle;
  }
  
  .header-basic ul a {
    color:#4b4c4d;
    text-decoration:none;
    opacity:0.8;
  }
  
  .header-basic ul a:hover {
    color:red;
    opacity: 1;
  }

  .header-basic .list-inline {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .header-basic .list-inline .list-inline-item {
    display: inline-block;

  }

  .header-basic .hoofd {
    text-align:center;
    padding-bottom: 0px;
  }
  
  .header-basic .hoofd > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .header-basic .hoofd > a:hover {
    opacity:0.9;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.5em; 
}

.dropbtn:hover {
  color: red;
  opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #38AD34;
  min-width: 100%;
  width: auto; 
  z-index: 1;
  font-size: 100%; 
}

.dropdown-content a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  display: block;
  padding-left: 0.2rem;
  padding-right: 0.2rem; 
  font-size: inherit;
  line-height: inherit;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: red;
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}






  @media screen and (max-width: 549px) {
    .header-basic{
      font-size: 0.8rem;
    }
    .list-inline-item{
        font-size:0.8rem ;
    }
    .dropbtn{
      font-size: 0.8rem;
    }
    .dropdown-content{
      font-size: 0.8rem;
    }
    .dropdown-content a{
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 466px) {
    .header-basic{
      font-size: 0.5rem; 
    }
    .list-inline-item{
        font-size:0.5rem ;
    }
    .dropbtn{
      font-size: 0.5rem;
    }
    .dropdown-content{
      font-size: 0.5rem;
    }
    .dropdown-content a{
      font-size: 0.5rem;
    }
  }
  